<h1>Shimane Univ. BBS</h1>
<%= form_for :entry do |f|%>
  <%= f.label :user_name %><%= f.text_field :user_name %><br />
  <%= f.text_area :body, :rows => 5 %><br />
  <%= f.submit '投稿する' %>
<% end %>
