<h1>Shimane Univ. BBS</h1>
<% if flash[:notice].present? %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<% unless @entry.errors.empty? %>
<p class="error">
  投稿内容にエラーがあります。
  <ul>
  <% @entry.errors.full_messages.each do |msg|  %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</p>
<% end %>
<%= form_for :entry do |f|%>
  <%= f.label :user_name %><%= f.text_field :user_name %><br />
  <%= f.text_area :body, :rows => 5 %><br />
  <%= f.submit '投稿する' %>
<% end %>

<hr />

<% unless @entries.empty? %>
<table class="entries">
<%= render :partial => 'entry', :collection => @entries %>
</table>
<% end %>
  